<!-- <p>Reactive Form</p>
<label for="FavoriteColor">FavoriteColor</label>
<input type="text" [formControl]="favoriteColorControl" />
{{ favoriteColorControl.value }}
<hr />
<p>Template Form</p>
<label for="FavoriteColor">FavoriteColor</label>
<input type="text" [(ngModel)]="favoriteColor" />
{{ favoriteColor }}

<hr /> -->

<form [formGroup]="signUp" (ngSubmit)="doSubmit()">
  <label for="name">Name</label>
  <input type="text" formControlName="Name" />
  <ng-container *ngIf="Name?.invalid && Name?.touched && Name?.dirty">
    <span *ngIf="Name?.errors?.invalidName">Can't Countains numbers</span>
    <span *ngIf="Name?.errors?.required">NameRequired</span>
    <span *ngIf="Name?.errors?.minlength">Invalid lenght</span>
  </ng-container>

  <br />
  <label for="text">Email</label>
  <input type="text" formControlName="Email" />
  <ng-container *ngIf="Email?.invalid && Email?.touched && Email?.dirty">
    <span *ngIf="Email?.errors?.invalidEmail">invalid email</span>
    <span *ngIf="Email?.errors?.required">NameRequired</span>
  </ng-container>
  <br />
  <label for="text">Age</label>
  <input type="text" formControlName="Age" />
  <span *ngIf="Age?.invalid && Age?.touched && Age?.dirty">age invalid</span>
  <br />
  <label for="FavoriteColor">password</label>
  <input type="text" formControlName="password" />
  <label for="FavoriteColor">confirmPassword</label>
  <input type="text" formControlName="confirmPassword" />
  <div formGroupName="Address">
    <label for="City">City</label>
    <input type="text" formControlName="City" /> <br />
    <label for="text">Street</label>
    <input type="text" formControlName="Street" /><br />
  </div>
  <button type="submit">Submit</button>
  {{signUp.errors | json}}
  <!-- <button type="button" (click)="doReset()">Reset</button> -->
</form>

<br>

<form [formGroup]="myform" (ngSubmit)="doSubmit()">

  <label for="FavoriteColor">Password</label>
  <input type="text" formControlName="Password" />
  <label for="FavoriteColor">confirmPassword</label>
  <input type="text" formControlName="confirmPassword" />

  <div class="form-group">
    <button type="button" (click)="onReset()" class="btn btn-warning float-right">
      Reset
    </button>
  </div>
  {{myform.errors | json}}
</form>
